html,
body {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  margin-top: 0.7em;
  margin-bottom: 0.5em;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

:root {
  --clr-neutral-100: rgb(20 20 20);
  --clr-neutral-200: rgb(30 30 30);
  --clr-neutral-300: rgb(40 40 40);
  --clr-neutral-400: rgb(45 45 45);
  --clr-neutral-500: rgb(55 55 55);
  --clr-neutral-800: rgb(230 230 230);
  --clr-neutral-900: rgb(255 255 255);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: var(--clr-neutral-900);
  background-color: var(--clr-neutral-100);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1 {
  font-size: 2rem;
}

body.awi-layout {
  display: grid;
  grid-template-columns: 20rem auto;
  grid-template-rows: 5rem auto;
  overflow-y: auto;
}
body.awi-layout > header {
  grid-column: 1/1;
  grid-row: 1/1;
  background-color: var(--clr-neutral-200);
  font-size: 1.25rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  border-bottom: solid var(--clr-neutral-800) 0.15rem;
  user-select: none;
}
body.awi-layout > nav {
  grid-column: 1/1;
  grid-row: 2/2;
  background-color: var(--clr-neutral-200);
  padding-top: 1rem;
  overflow-x: hidden;
  user-select: none;
}
body.awi-layout > nav > * {
  width: calc(100% - 2rem);
  font-size: 1.25rem;
  padding: 0.4rem 0;
  margin: 0.35rem 1rem;
  display: block;
  text-align: center;
  background-color: var(--clr-neutral-300);
  outline: none;
  border: none;
  border-radius: 1rem;
}
body.awi-layout > nav > *:hover {
  background-color: var(--clr-neutral-400);
  cursor: pointer;
}
body.awi-layout > main {
  grid-column: 2/2;
  grid-row: 1/span 2;
  overflow-y: auto;
  padding: 0 1rem;
}
body.awi-layout > main > h1 {
  user-select: none;
}

@media screen and (max-width: 950px) {
  body.awi-layout {
    grid-template-rows: 3rem auto;
    grid-template-columns: 0 auto;
  }
  body.awi-layout > header {
    grid-column: 1/span 2;
    grid-row: 1/1;
  }
  body.awi-layout > main {
    grid-column: 2/2;
    grid-row: 2/2;
  }
}
.awi-panel {
  border: 0 solid;
  border-radius: 0.8em;
  background-color: var(--clr-neutral-300);
}
.awi-panel > span {
  display: block;
  border: 0 solid;
  border-top-left-radius: 0.8em;
  border-bottom-right-radius: 0.8em;
  padding: 0.5em 0.8em;
  width: max-content;
  background-color: var(--clr-neutral-500);
  margin-bottom: 0.5em;
  font-weight: 600;
  user-select: none;
}
.awi-panel > p {
  margin: 0 0.5em;
}

.awi-grid {
  container-type: inline-size;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  display: grid;
  gap: 0.75rem;
}

@media screen and (max-width: 1500px) {
  .awi-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 1300px) {
  .awi-grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 600px) {
  .awi-grid {
    grid-template-columns: 1fr;
  }
}
.awi-table {
  width: 100%;
}
.awi-table > tbody > tr {
  display: flex;
  margin: 0 0.5em;
  border-top: 0.1em solid;
  padding: 0.2rem 0;
}
.awi-table > tbody > tr > td, .awi-table > tbody > tr > th {
  margin: 0 0.25em;
  flex: 1;
}
.awi-table > tbody > tr > th {
  font-weight: 700;
}
.awi-table > tbody > tr:nth-child(1) {
  border-top: none;
}

/*# sourceMappingURL=style.css.map */
