.awi-fg-success {
   color: var(--clr-success);
}

.awi-fg-warning {
   color: var(--clr-warning);
}

.awi-fg-danger {
   color: var(--clr-danger);
}

.awi-fg-disabled {
   color: var(--clr-disabled);
}