.awi-datagrid {
   grid-template-columns: 1fr 1fr 1fr 1fr;
   display: grid;
   gap: 0.75rem;
}

@media screen and (max-width: 1700px) {
   .awi-datagrid {
      grid-template-columns: 1fr 1fr 1fr;
   }
}

@media screen and (max-width: 1300px) {
   .awi-datagrid {
      grid-template-columns: 1fr 1fr;
   }
}

@media screen and (max-width: 700px) {
   .awi-datagrid {
      grid-template-columns: 1fr;
   }
}