.awi-grid {
   container-type: inline-size;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   display: grid;
   gap: 0.75rem;
}

@media screen and (max-width: 1500px) {
   .awi-grid {
      grid-template-columns: 1fr 1fr 1fr;
   }
}

@media screen and (max-width: 1300px) {
   .awi-grid {
      grid-template-columns: 1fr 1fr;
   }
}

@media screen and (max-width: 600px) {
   .awi-grid {
      grid-template-columns: 1fr;
   }
}