.awi-panel {
   border: 0 solid;
   border-radius: var(--border-rad-500);
   background-color: var(--clr-neutral-300);

   &>span,
   &>.title {
      display: block;
      font-size: 1em;
      
      margin: 0;
      padding: 0;

      border: 0 solid;
      border-top-left-radius: var(--border-rad-500);
      border-bottom-right-radius: var(--border-rad-500);

      padding: 0.5em 0.8em;
      width: max-content;
      background-color: var(--clr-neutral-500);

      margin-bottom: 0.5em;
      font-weight: 600;

      user-select: none;
   }

   &>p {
      margin: 0 0.5em;
   }

   &>table.awi-panel-table {
      width: 100%;
      margin-bottom: 0.75em;

      &>tbody>tr {
         display: flex;
         margin: 0 0.5em;
         border-top: 0.1em solid;
         padding: 0.25rem 0;

         &>td,
         &>th {
            margin: 0 0.25em;
            flex: 1;
         }

         &>th {
            text-align: left;
         }

         &>th {
            font-weight: 700;
         }

         &:nth-child(1) {
            border-top: none;
         }
      }
   }
}