:root {
   --clr-neutral-100: rgb(20 20 20);
   --clr-neutral-200: rgb(30 30 30);
   --clr-neutral-300: rgb(40 40 40);
   --clr-neutral-400: rgb(45 45 45);
   --clr-neutral-500: rgb(55 55 55);
   --clr-neutral-600: rgb(75 75 75);
   --clr-neutral-800: rgb(230 230 230);
   --clr-neutral-900: rgb(240 240 240);

   --clr-success: rgb(0 200 0);
   --clr-warning: rgb(210 210 0);
   --clr-danger: rgb(250 0 0);
   --clr-disabled: rgb(150 150 150);

   --border-rad-500: 0.8em;

   /* Component Specific */
   --awi-input-fg-color: var(--clr-neutral-800);
   --awi-input-bg-color: var(--clr-neutral-500);
}

body {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 1rem;
   color: var(--clr-neutral-900);
   background-color: var(--clr-neutral-100);
}

*,
*::before, 
*::after {
   box-sizing: border-box;
}

h1 {
   font-size: 2rem;
}