.awi-fg-success {
   color: var(--clr-success);
}

.awi-fg-warning {
   color: var(--clr-warning);
}

.awi-fg-danger {
   color: var(--clr-danger);
}

.awi-fg-disabled {
   color: var(--clr-disabled);
}

.awi-text-center {
   text-align: center;
}

.awi-sr-only {
   border: 0;
   outline: 0;
   padding: 0;
   margin: 0;
   width: 0;
   height: 0;
   overflow: hidden;
}