input.awi-input:not([type="file"],
   [type="image"],
   [type="checkbox"],
   [type="radio"],
   [type="submit"]) {
   background-color: var(--clr-neutral-500);
   outline: none;
   color: var(--clr-neutral-900);
   font-size: 1em;
   padding: 0.25em 0.5em;
   border: 0 solid;
   border-radius: 0.5em;

   label:has(+&) {
      background-color: var(--clr-neutral-500);
      outline: none;
      color: var(--clr-neutral-900);
      font-size: 1em;
      padding: 0.25em 0.5em;
      border: 0 solid;
      border-radius: 0.5em 0 0 0.5em;
   }

   label+& {
      border-radius: 0 0.5em 0.5em 0;
   }
}

button.awi-input,
input.awi-input[type="submit"] {
   background-color: var(--clr-neutral-500);
   outline: none;
   color: var(--clr-neutral-900);
   font-size: 1em;
   padding: 0.25em 0.5em;
   border: 0 solid;
   border-radius: 0.5em;

   &:hover {
      background-color: var(--clr-neutral-600);
   }
}